<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/estudantes}" method="POST" th:object="${estudante}">
        <input type="hidden" th:field="*{id}">

        <label for="nome" class="form-label">Nome:</label>
        <input type="text" th:field="*{nome}" class="form-control" /><br />

        <label for="matricula" class="form-label">Matrícula:</label>
        <input type="text" th:field="*{url}" class="form-control" /><br />

        <input type="submit" value="Salvar" class="btn btn-primary mt-3">
    </form>
</div>
</body>
</html>